-
  const defaultModalProps = {
      id: 'modal',
      classes: '',
      side: 'right',
  }

mixin modal(props = defaultModalProps)
  -
    const checkProps = {
        id: props.id ? props.id : defaultModalProps.id,
        classes: props.classes ? props.classes : defaultModalProps.classes,
        side: props.side ? props.side : defaultModalProps.side
    }

  .hystmodal.modal(id=checkProps.id, aria-hidden="true", class=checkProps.classes data-side=checkProps.side)
    .hystmodal__wrap
      .hystmodal__window(role="dialog", aria-modal="true")
        button.hystmodal__close.btn-reset(data-hystclose)
          span Закрыть
          include ../assets/icon-system/icon-cross
        if block
          block
