<svg width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="65" height="65" rx="32.5" fill="#299987"/>
<path d="M40.3107 22.0457L21.9336 34.5229C21.4094 34.8787 20.7491 34.9654 20.1504 34.7582C17.9693 34.0034 14.4508 32.809 12.5954 32.2625C10.5421 31.6578 11.5807 30.4726 12.4611 29.8768C12.5496 29.817 12.641 29.7706 12.7395 29.7294C22.7144 25.5568 42.9796 17.103 45.3886 16.189C47.8092 15.2705 48.0327 17.396 47.8419 18.5735C46.0973 27.3462 42.51 45.404 42.1174 47.4529C41.7249 49.5018 40.2093 49.1309 39.5005 48.6893L32.3176 42.9268C31.5195 42.2866 30.3672 42.3516 29.6464 43.0778C28.3519 44.382 26.7542 45.9908 26.0888 46.6581C25.1729 47.5765 25.053 46.9819 25.1075 46.5697L25.7829 38.3848C25.822 37.9104 26.0276 37.467 26.3653 37.1316C31.2623 32.2673 40.3157 23.257 41.1361 22.3711C41.8958 21.5506 41.233 21.6557 40.6749 21.8553C40.5454 21.9016 40.4245 21.9684 40.3107 22.0457Z" fill="white"/>
</svg>
