<svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="45" cy="45" r="44" transform="matrix(-1 0 0 1 90 0)" stroke="#B5BBD0" stroke-width="2"/>
<path d="M41.0879 35.2178L32.2835 44.0221L41.0879 52.8265" stroke="#238675" stroke-width="2"/>
<path d="M32.2862 44.022H58.6992" stroke="#238675" stroke-width="2"/>
</svg>
