<svg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 9L18 9" stroke="#238675" stroke-width="1.5"/>
<path d="M9.99902 16.3077L17.8848 8.88578L9.99902 1" stroke="#238675" stroke-width="1.5"/>
</svg>
