<svg width="28" height="20" viewBox="0 0 28 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.0402 20H9.39478L0 0.621094H8.3201L14.0402 20Z" fill="#292C38"/>
<path d="M27.3214 20H22.676L13.2812 0.621094H21.6014L27.3214 20Z" fill="#292C38"/>
</svg>
