<svg width="18" height="9" viewBox="0 0 18 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M16.7432 0.773926C16.8379 0.679191 17.001 0.679198 17.0957 0.773926C17.1787 0.856889 17.1893 0.992324 17.127 1.08838L17.0957 1.12646L10.5762 7.64697C10.1433 8.07982 9.57177 8.30017 9 8.30029C8.49962 8.30029 7.99905 8.13149 7.5918 7.79932L7.42285 7.64697L0.90332 1.12646C0.808583 1.03173 0.808582 0.868664 0.90332 0.773926C0.986281 0.690965 1.12172 0.680342 1.21777 0.742676L1.25586 0.773926L7.77637 7.29346C8.40941 7.92639 9.41249 7.96643 10.0918 7.4126L10.2227 7.29346L16.7432 0.773926Z" fill="#1D1D1B" stroke="#1D1D1B"/>
</svg>
