.input {
  position: relative;
  font-family: $primary-font !important;

  &.disabled {
    opacity: 0.8;
    pointer-events: none;
  }

  &--required {
    &:before {
      content: '*';
      color: #7F8393;
      font-size: 25px;
      top: 14px;
      right: 0;
      position: absolute;
    }
  }

  &--error, .textarea--error {
    .input {
      &__field {
        border-color: red;
      }

      &__message {
        display: grid;
        color: red;
      }
    }
  }

  &--show-message {
    .input {
      &__message {
        display: grid;
        grid-template-columns: 1fr;
      }
    }
  }

  &__field {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #B0BFCE;
    font-size: 25px;
    padding: 8px 16px 8px 0;
    font-weight: 500;
    color: $text;

    @media (max-width: 1199px) {
      font-size: 22px;
    }

    &:focus {
      border-color: $primary;
      outline: none;
    }

    &::placeholder {
      color: #7F8393;
      font-size: 25px;
      font-weight: 500;

      @media (max-width: 1199px) {
        font-size: 22px;
      }
    }
  }

  &__message {
    display: none;
    grid-template-columns: max-content 1fr;
    align-items: center;
    grid-column-gap: 4px;
    justify-content: start;
    margin-top: 4px;
    font-size: 13px;

    span {
      font-size: 12px;
      transition: color $transition;
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__label {
    display: inline-block;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25em;
    letter-spacing: -0.32px;
  }
}

.textarea {
  position: relative;
  .input__field {
    resize: none;
    font-size: 20px;

    @media (max-width: 767px) {
      font-size: 18px;
    }
  }
}

.textarea--error {
  .input {
    &__field {
      border-color: red;
    }

    &__message {
      display: grid;
      color: red;
    }
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}


.input--error .input__field {
  border-bottom: 1px solid red !important;
}
