block vars

include ../ui/preloader.pug
include ../components/header.pug
include ../components/footer.pug
+preloader
+header
a.widget-tg(href="https://t.me/+79997131245" target="_blank")
    include ../assets/icon-system/icon-tg-hero
block content
+footer

+modal({
  id: 'policy-modal',
  classes: 'policy__modal',
  side: 'center',
})
    div
        h2 Политика конфиденциальности
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia perspiciatis quis rerum veritatis. Blanditiis consectetur cupiditate explicabo id ipsa iure iusto necessitatibus, nostrum numquam quasi quis repellendus sequi temporibus, vitae?
