block vars

include ../components/header.pug
include ../components/footer.pug

+header
a.widget-tg(href="https://t.me/+79997131245" target="_blank")
    include ../assets/icon-system/icon-tg-hero
block content
+footer
