extends ../../layouts/layout
block vars
block content
    -
    include ../../modal-windows/result-modal
    include ../../components/hero
    include ../../components/about
    include ../../components/services/services
    include ../../components/info
    include ../../components/reviews
    .wrapper
        +hero
        +about
        +services
        +info
        +reviews
    +resultModal
