h2 Арбитражные споры
p <strong>Юрист по арбитражным спорам</strong> специализируется на представлении интересов доверителей по делам, отнесённым к компетенции арбитражных судов. К таким делам относятся споры, связанные с правами и обязанностями в сфере предпринимательской деятельности, где оба участники зарегистрированы в качестве индивидуальных предпринимателей или коммерческих организаций.
ul
  li <strong>Юридическая консультация.</strong> Клиенту разъясняются все тонкости дела и предлагаются возможные пути решения проблемы.
  li <strong>Анализ документов.</strong> На основе результатов анализа принимается решение о необходимости проведения экспертиз, подготовки дополнительных документов и пр.
  li <strong>Систематизация доказательной базы.</strong> На данной стадии, после изучения имеющихся  документов, происходит сбор всех необходимых доказательств для защиты интересов клиента при разрешении вопроса путем проведения переговоров или в судебном процессе.
  li <strong>Представительство (сопровождение) при судебном разбирательстве.</strong> Юрист защищает права доверителя, опираясь на действующие законы и сформировавшуюся судебную практику.
