h2 Налоговое право
p <strong>Юрист по налоговому праву</strong> — это эксперт в области права, который специализируется на правовой защите клиентов при взаимоотношениях с налоговыми органами, при исчислении налогов и проведении проверочных мероприятий.
ul
    li <strong>Консультация.</strong> Анализ представленных вопросов и документов для их обсуждения.
    li <strong>Выявление и минимизация налоговых рисков.</strong> Основной акцент делается не на ответы на поставленные вопросы, а на профилактику рисков.
    li <strong>Ведение дел в арбитражном суде.</strong> Представление интересов организаций и индивидуальных предпринимателей в спорах с налоговыми органами на всех уровнях арбитражного процесса, включая подготовку и подачу исковых заявлений, апелляционных и кассационных жалоб.
    li <strong>Досудебное урегулирование налоговых споров.</strong> Оказание услуг по досудебному обжалованию решений налоговых органов и актов налоговой проверки.
    li <strong>Защита по вопросам налоговых преступлений.</strong> Оказание помощи, в том числе на этапе предварительного следствия, в суде, а также в формировании правильной позиции по делу с использованием актов арбитражных судов.

