meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
script(src="./libs/hystmodal.min.js", defer)
script(kronos-form-id="648" src="https://cdn.gnzs.ru/kronos/js/button.js", defer)
script(src="https://api-maps.yandex.ru/2.1/?apikey=4a22bfbb-2057-4f39-ad98-87ad9bead116&lang=ru_RU", defer)

