extends ../../layouts/layout
block vars
block content
    -
    .error-page
        img(src="./images/500.svg" alt="Страница не найдена")
        p Внутренняя ошибка сервера
        a.btn--header(href='/') НАЗАД

