h2 Семейное право
p <strong>Юрист по семейному праву</strong> специализируется на решении юридических вопросов, связанных с семейными делами.  Каждое дело в семейном праве требует индивидуального подхода, так как оно затрагивает личные и эмоциональные аспекты жизни людей. Основная цель семейного юриста — помочь своим клиентам достичь справедливого и сбалансированного решения в семейных спорах.
h3 Юрист по семейному праву оказывает юридическую помощь в вопросах семейных отношений.
ul
    li <strong>Развод.</strong> Помощь в процессе развода или раздела супружеского имущества, включая определение размера  алиментов и деление совместно нажитого имущества.
    li <strong>Опека и попечительство.</strong> Помощь в установлении правил опеки и попечительства над детьми, включает: определение места жительства детей, установление режима общения и решение вопросов об их образовании и заботе о здоровье.
    li <strong>Алименты.</strong> Помощь в установлении размера алиментов, а также в вопросах их изменения, увеличения или уменьшения в связи с изменением финансового положения сторон.
    li <strong>Права родителей.</strong> Помощь в вопросах, связанных с правами родителей, включая установление отцовства, усыновление, решение вопросов об образовании и воспитании детей.
    li <strong>Брачные договоры.</strong> Помощь в подготовке и заключении брачных договоров, устанавливающих права и обязанности супругов в случае развода или других ситуаций.
    li <strong>Семейное наследство.</strong> Помощь в урегулировании вопросов по наследству внутри семьи, включая споры о наследстве и разделе наследства между наследниками.
h3 Задачи юриста по семейному праву
ul
    li <strong>Досудебное урегулирование.</strong> Специалист проведёт переговоры со второй стороной и договорится о досудебном урегулировании спора.
    li <strong>Сбор документации и правовой анализ.</strong> Юрист подготовит все необходимые процессуальные документы: ходатайства, жалобы и заявления.
    li <strong>Защита в суде.</strong> Специалист будет действовать в интересах клиента во всех судебных заседаниях, в том числе без личного присутствия доверителя.
