h2 Некачественный товар или услуга (Защита прав потребителей)
p Обратиться к юристу рекомендуется, если права потребителя были нарушены, например, если продали некачественный товар, отказались возвратить деньги за возвращённый товар, навязали невыгодные условия договора или услуги оказались ненадлежащего качества
ul
    li <strong>Первичная консультация.</strong> Юрист выясняет суть проблемы, изучает документы и определяет возможные пути решения.
    li <strong>Сбор доказательств и подготовка документов.</strong> Это могут быть чеки, договоры, свидетельства, экспертизы и другие доказательства.
    li <strong>Составление жалоб и претензий.</strong> На основании собранных доказательств юрист составляет жалобы и претензии к продавцам или поставщикам услуг.
    li <strong>Представительство в суде.</strong> Если жалобы и претензии не приводят к положительному результату, юрист представляет интересы потребителя в суде, участвует в заседаниях, представляет доказательства и аргументы, обосновывающие требования клиента.
    li <strong>Медиация и урегулирование споров.</strong> В некоторых случаях юристы участвуют в процессах медиации, способствуя мирному урегулированию споров между потребителями и продавцами без обращения в суд.
    li <strong>Защита прав клиента в органах государственной власти и контроля.</strong> Юрист может помочь потребителю защитить свои права в Роспотребнадзоре или Федеральной службе по надзору в данной отрасли.
    li <strong>Взыскание ущерба.</strong> Юрист может помочь потребителю взыскать ущерб, нанесённый ему продавцом или поставщиком.

